
<header>
    <div id="head1">
        <h2> AdmitKard</h2>

    </div>
        <div id="head2">
            <a href="/">Home</a>
            <a href="/question/renderForm">Add Questions</a>
        </div>
   
       

</header>
