<link rel="stylesheet" type="text/css" href="/css/home.css">

<!-- setup search bar of user interface -->
<main id="main">
    <input
      type="search"
      id="search"
      placeholder="Search a Question by tag..."
      autocomplete="off"
    />
    <div class="loader"></div>

    <ul id="search-results-list">
      <!-- <li class="search-result">
        <div class="query">
            <h2>this is a question</h2>
        </div>
        <div class="Topic">
            <h3>Topic : </h3>

        </div>
        <div class="Tags">
          <p>Tags : </p>
        </div>
        
      </li> -->
    </ul>
  </main>


  <script src="/js/common.js"></script>
  <script src="/js/index.js"></script>

  <script>
    Main.init();
  </script>
  